@import "config";
.skills {
  // general styles
  display: flex; // display property.
  flex-direction: column;
  align-items: center;
  justify-content: center; // end of display property.

  background: $tertiaryColor;
  padding: 2rem;
  // title section
  .title-section {
    @include titleSection();
    h1 {
      @include title();
      text-align: center;
    }
    @include horizontalLineStyle();
  }

  // Skills Content
  .skills-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // width: 50vh;
    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1rem 1rem;
      img {
        width: 3.5rem;
      }
      p {
        visibility: hidden;
        color: $secondary;
      }
    }
  }
}

// This is the animation to be run when the user hovers to the skill image logo
@keyframes animationVisibility {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .skills {
    .skills-content {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
@media only screen and (min-width: 1200px) {
  .skills {
    padding: 4rem;
    .title-section {
      h1 {
        font-size: 3rem;
      }
    }
  }
}
