$small: 768px;
$extraSmall: 992px;
$medium: 1200px;
$desktopSize: 1400px;

@mixin Mobile {
  @media only screen and (min-width: 576px) {
    @content;
  }
}

@mixin Small {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin ExtraSmall {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin Medium {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin DesktopSize {
  @media only screen and (min-width: 1400px) {
    @content;
  }
}
