@import "./config", "./media";

.about {
  @include Medium {
    background: $tertiaryColor;
    padding: 4rem;
  }
}
// It is the div that contains the title, paragraph, and image.
.about-content {
  @include displayFlex(column, center, center);
  background-color: $tertiaryColor;
  padding: 2rem; // end of general styles.

  @include Small {
    @include displayFlex(row, center, center);
  }
}

.about-image-section {
  img {
    max-width: 20rem;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px $fourthColour;
  }
  // MEDIA QUERIES FOR ".about-image-section".
  @include Small {
    align-self: flex-start;
    width: 50%;
    margin-right: 0.5rem;
    text-align: center;
  }
  @include ExtraSmall {
    align-self: center;
  }
  @include Medium {
    align-self: center;
    max-width: 50%;
    width: 20rem;
    margin: 0 3rem;
    img {
      width: 100%;
    }
  }
}

/**
    Contents of the about. */
.about-content_info {
  * {
    // set all the elements of the all elements under the about-content-info class.
    color: $fourthColour;
  }

  // Section that contains the title "About" and the horizontal line styles.
  .title-section {
    @include horizontalLineStyle();
    @include titleSection();
    h1 {
      // "About"
      @include title();
    }
  }
  // About Paragraph.
  p {
    color: $fourthColour;
    font-size: 1rem;
    text-align: center;
  }

  // MEDIA QUERIES FOR ".about-content-info".
  @include Small {
    align-self: baseline;
    width: 50%;
    .title-section {
      align-items: flex-start;
    }
    p {
      text-align: left;
    }
  }
  @include Medium {
    .title-section {
      h1 {
        font-size: 3rem;
      }
      .horizontal-style {
        width: 15rem;
      }
    }
    p {
      font-size: 1.2rem;
    }
  }
}
