@import "./config", "./global", "./media";

.container-1 {
  @include displayFlex(column, none, center);
  height: auto;
  padding: 2rem;
  * {
    margin: 0.4rem 0;
  }
  // Navbar
  .navbar {
    @include displayFlex(row, none, space-between);

    // This is the style for the pie menu when in phone device screen sizes.
    ul {
      list-style-type: none;

      li {
        width: 2.5rem;
        hr {
          height: 5px;
          background: black;
        }
      }
    }
  } // end of navbar

  .basic-info {
    section .infos {
      @include displayFlex(row, center, flex-start);
      font-size: 1rem;

      img {
        height: 1.5rem;
      }
      * {
        margin: 0.5rem 1rem 0.5rem 0;
      }
    }
  }

  // STYLES FOR 1200px screen sizes.
  @include Medium {
    height: 70vh;
    align-items: center;
    justify-content: center;

    .navbar {
      // hides the navbar with the pie button
      display: none;
    }

    // div that contains the section title and infos
    .container-1-content {
      // Display properties.
      display: flex;
      justify-content: space-around;
      .section-title {
        width: 50%;
        h1 {
          font-size: 1.5rem;
        }
        p {
          // width: 70%;
          font-size: 3rem;
        }
      } // end of section title

      // basic info sections
      .basic-info section {
        .infos {
          // width: max-content;
          @include displayFlex(row, center, flex-start);
          font-size: 1.1rem;
          * {
            margin: 0.5rem 1rem;
          }
        }
      }
    }
  } // END OF 1200px SCREEN SIZES STYLE.
} // END OF CONTAINER-1 STYLES.

// HEADER STYLES
header {
  // Hidden by default.
  display: none;

  // MEDIA QUERIES FOR 1200px screen sizes.
  @include Medium {
    @include displayFlex(row, center, space-around);
    padding: 2rem;

    section h1 {
      font-size: 1.5rem;
    }
    ul {
      @include displayFlex(row, center, none);
      list-style: none;

      li {
        margin: 0 2.5rem; // set the margin of left and right to 4 * 16px.
        a {
          font-size: 1.1rem;
          font-weight: 500;
          text-decoration: none;
          color: black;
          cursor: pointer;
        }
        a:hover {
          border-bottom: 2px solid black;
          width: auto;
        }
      }
    }
  } // END OF 1200px HEADER STYLES.
} // END OF HEADER STYLES.

// MAIN STYLES
.main {
  position: relative;
  z-index: 1;
  height: auto;
  background: url("\/Final Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  // MAIN STYLES WHEN 1200px SCREEN SIZES.
  @include Medium {
    /** We set the bg attachment to fixed to
    have a parallax effect. */
    background-attachment: fixed;
    min-height: 70vh;
    height: 100vh;
  } // END OF 1200px MAIN STYLES.
}

.main::before {
  background-color: rgba($color: #fff, $alpha: 0.4);
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
} // END OF MAIN STYLES

// STYLES FOR CONTAINER-1 CONTENT
.container-1-content {
  @include Small {
    padding: 3rem;
  }
} // END OF STYLES FOR CONTAINER-1 CONTENT

// SECTION THAT CONTAINS THE TITLE, SUBTITLE, HORIZONTAL LINE AND BUTTON
.section-title {
  h1 {
    font-size: 1rem;
    font-weight: 500;
  }
  p {
    font-size: 2rem;
    font-weight: bold;
  }
  hr {
    background-color: $tertiaryColor;
    width: 5rem;
    height: 5px;
  }
  // buttons and the style for hover
  button {
    @include buttonStyle();
  }
  button:hover {
    @include buttonHoverStyle();
  } // end of button styles

  // For 768px screen sizes.
  @include Small {
    h1 {
      font-size: 1.2rem;
    }
    p {
      font-size: 2.5rem;
    }
  } // END OF 768px section-title STYLES.
} // END OF TITLE SECTION.
