@import "./config", "./media";

// HERE IS THE MAIN DIVISION OF THE SERVICES SECTION OF THE WEBPAGE.
.main_services {
  @include displayFlex(column, center, center);
  background: $fifthColor;
  padding: 2rem;

  .title-section {
    @include titleSection();
    .title {
      @include title();
    }
    @include horizontalLineStyle();

    .title {
      // 1200px
      @include Medium {
        font-size: 3rem;
      }
    }
  }
}

// DIVISION OF SERVICES THAT CONTAINS THE IMAGE, NAME OF THE SERVICE, DESCRIPTION AND THE BUTTON.
.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 90vw;

  // IMAGE SECTION.
  .image {
    grid-column: 1/-1;
    img {
      width: 100%;
      box-shadow: 0px 0px 5px 1px $fourthColour;
    }
    // 1200px
    @include Medium {
      width: 50%;
    }
  }

  // DIVISION THAT HOLDS THE NAME AND THE DESCRIPTION OF THE SERVICE.
  .content {
    grid-column: 1/4;
    * {
      color: $fourthColour;
    }

    h1 {
      font-size: 1.5rem;
    }
    button {
      @include buttonStyle();
    }
    button:hover {
      @include buttonHoverStyle();
    }
    // 1200px
    @include Medium {
      width: 50%;
      padding: 1rem;
      h1 {
        font-size: 2rem;
      }
      button {
        width: 30%;
      }
    }
  }

  // 576px
  @include Mobile {
    max-width: 60vw;
  }
  // 768px
  @include Small {
    max-width: 60vw;
  }
  // 992px
  @include ExtraSmall {
    max-width: 55vw;
  }
  // 1200px
  @include Medium {
    @include displayFlex(row, center, space-evenly);
    max-width: 65vw;
  }
  // 1400px
  @include DesktopSize {
    max-width: 60vw;
  }
}

// DOTS NAVIGATION.
.dots {
  margin-top: 1rem;
  /** Here is the actual dot and set its border-radius to 50% to
  make it fully rounded circle. **/
  span {
    display: inline-block;
    background: $fourthColour;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 0 0.5rem;
  }

  span:hover {
    cursor: pointer;
    background-color: $secondary;
  }
}
