@import "./config";

// Here are the variables.

// HERE IS THE MAIN DIVISION OF THE SERVICES SECTION OF THE WEBPAGE.
.main_services {
  @include displayFlex(column, center, center);
  background: $fifthColor;
  padding: 2rem;

  .title-section {
    @include titleSection();
    .title {
      @include title();
    }
    @include horizontalLineStyle();
  }

  // Division of the dots navigation.
  .dots {
    margin-top: 1rem;

    /**
      Here is the actual dot and set its border-radius to 50% to
      make it fully rounded circle.
    **/
    span {
      display: inline-block;
      background: $fourthColour;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin: 0 0.5rem;
    }

    span:hover {
      cursor: pointer;
      background-color: $secondary;
    }
  }

  // Division of services that contains the image, name of the service, and the button.
  .services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 90vw;

    // Image section.
    .image {
      grid-column: 1/-1;
      img {
        width: 100%;
        box-shadow: 0px 0px 5px 1px $fourthColour;
      }
      @keyframes animate {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    }

    // Content section that holds the name of the service and its definition.
    .content {
      grid-column: 1/4;
      * {
        color: $fourthColour;
      }

      h1 {
        font-size: 1.5rem;
      }
      button {
        @include buttonStyle();
      }
      button:hover {
        @include buttonHoverStyle();
      }
    }
  }
}

// MEDIA QUERIES.
@media only screen and (min-width: 576px) {
  .main_services .services {
    max-width: 60vw;
  }
}

@media only screen and (min-width: 768px) {
  .main_services .services {
    max-width: 60vw;
  }
}

@media only screen and (min-width: 992px) {
  .main_services .services {
    max-width: 55vw;
  }
}
@media only screen and (min-width: 1200px) {
  .main_services {
    // Change the font size of title on the service section.
    .title-section .title {
      font-size: 3rem;
    }

    .services {
      @include displayFlex(row, center, space-evenly);
      max-width: 65vw;
      .image {
        width: 50%;
      }
      .content {
        width: 50%;
        padding: 1rem;
        h1 {
          font-size: 2rem;
        }
        button {
          width: 30%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .main_services .services {
    max-width: 60vw;
  }
}
