// Color variables for the entire styles.
$primary: #c7d5e6;
$secondary: #e6d8c7;
$tertiaryColor: #171717;
$fourthColour: #fdfbf9;
$fifthColor: #313131;

/**
  Since there are many title sections across the page,
  we stick to the same general style and only override this
  if necessary.
**/
@mixin titleSection() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

/**
  Since titles in webpage also the same, we also 
  set the same general style for the whole page.
**/
@mixin title() {
  color: $secondary;
  font-size: 2rem;
  text-align: center;
}

/**
  This is also the same style applied to all
  horizontal sections and its corresponding horizontal lines.
**/
@mixin horizontalLineStyle() {
  .horizontal-style {
    display: flex; // display as flex so that the hr are display in rows (display property).
    color: $secondary;
    align-items: center;
    justify-content: center; // end of display property.

    // General style for this container
    max-width: 50%;
    width: 10rem;
    hr {
      width: 50%;
    }
  }
}

// Flex properties.
@mixin displayFlex() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/**
  Styles of all the buttons across the page.
**/
@mixin buttonStyle() {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 10rem;
  border: 1px solid $fourthColour;
  background: $tertiaryColor;
  transition: transform 300ms ease-in;
  color: $fourthColour;
}

/**
  Styles for the button when hovered.
**/
@mixin buttonHoverStyle() {
  cursor: pointer;
  box-shadow: 0px 0px 5px $fourthColour;
  transform: translateY(-5px);
}
