@import "config";

/**
  #THESE ARE ALL THE STYLES FOR THE MESSAGE ME SECTION.
**/
.message-me-section {
  // General styles.
  background: $tertiaryColor;
  padding: 2rem;

  // General styles for all the elements under this section.
  * {
    color: $fourthColour;
  }

  // #This is the actual content of the message-section.
  .message-me-section-content {
    // Here is the title section
    .title-section {
      @include displayFlex(); /* SEE IMPLEMENTATION ON _config.scss file. */
      h1 {
        @include title(); /* SEE IMPLEMENTATION ON _config.scss file. */
      }
      @include horizontalLineStyle(

      ); /* SEE IMPLEMENTATION ON _config.scss file. */
    }

    // #FORM SECTION.
    .form-section {
      // This is the form section general style.
      @include displayFlex(); /* SEE IMPLEMENTATION ON _config.scss file. */
      margin-top: 3rem;
      align-items: stretch;
      h1 {
        text-align: center;
      }
      #form {
        @include displayFlex(); /* SEE IMPLEMENTATION ON _config.scss file. */
        align-items: flex-start; // just override the align-items property to the mixin.

        * {
          width: 100%;
        }

        label {
          margin-top: 1rem;
          font-size: 1.2rem;
        }

        // general style for the three inputs.
        #full-name,
        #e-mail,
        #message {
          padding: 0.5rem;
          font-size: 1rem;
          color: $tertiaryColor;
          border: none;
          outline: none;
          background: $fifthColor;
          color: white;
          transition: outline 3000ms;
        }

        // Style of the three inputs when get hovered.
        #full-name:focus,
        #e-mail:focus,
        #message:focus {
          outline: 1px solid $secondary;
          // border-width: 1px;
        }
        // Styles for button including the style when hovering it.
        button {
          @include buttonStyle(); /* SEE IMPLEMENTATION ON _config.scss file. */
          margin-top: 1rem;
        }
        button:hover {
          @include buttonHoverStyle(

          ); /* SEE IMPLEMENTATION ON _config.scss file. */
        }
        .modal {
          display: none;
          background: rgb(86, 141, 86);
          padding: 1rem;
          width: 100%;
          margin: 0.6rem 0;
          text-align: center;
          outline: 1px solid white;
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@keyframes modalAnimation {
  from {
    display: none;
    height: 0;
  }
  to {
    display: block;
    height: 100%;
  }
}
// MEDIA QUERIES.
@media only screen and (min-width: 576px),
  (min-width: 768px),
  (min-width: 992px) {
  .message-me-section {
    .message-me-section-content {
      .form-section {
        width: 60vw;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .message-me-section {
    .message-me-section-content {
      display: flex;
      align-items: center;
      justify-content: center;
      // //   width: 50vw;
      // margin: 0 auto;
      .title-section {
        margin: 0 0.5rem;
        width: 50%;
        h1 {
          font-size: 3rem;
        }
      }

      .form-section {
        width: 35vw;
        justify-content: center;
        h1 {
          font-size: 2rem;
          text-align: left;
          align-self: flex-start;
        }
        #form {
          // max-width: 50rem;

          #full-name,
          #e-mail,
          #message {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
