/**
  Since there are many title sections across the page,
  we stick to the same general style and only override this
  if necessary.
**/
/**
  Since titles in webpage also the same, we also 
  set the same general style for the whole page.
**/
/**
  This is also the same style applied to all
  horizontal sections and its corresponding horizontal lines.
**/
/**
  Styles of all the buttons across the page.
**/
/**
  Styles for the button when hovered.
**/
/**
  #THESE ARE ALL THE STYLES FOR THE MESSAGE ME SECTION.
**/
.message-me-section {
  background: #171717;
  padding: 2rem;
}

.message-me-section * {
  color: #fdfbf9;
}

.message-me-section .message-me-section-content .title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* SEE IMPLEMENTATION ON _config.scss file. */
  /* SEE IMPLEMENTATION ON _config.scss file. */
}

.message-me-section .message-me-section-content .title-section h1 {
  color: #e6d8c7;
  font-size: 2rem;
  text-align: center;
  /* SEE IMPLEMENTATION ON _config.scss file. */
}

.message-me-section .message-me-section-content .title-section .horizontal-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e6d8c7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
  width: 10rem;
}

.message-me-section .message-me-section-content .title-section .horizontal-style hr {
  width: 50%;
}

.message-me-section .message-me-section-content .form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  margin-top: 3rem;
}

.message-me-section .message-me-section-content .form-section h1 {
  text-align: center;
}

.message-me-section .message-me-section-content .form-section #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  /* SEE IMPLEMENTATION ON _config.scss file. */
  align-items: flex-start;
}

.message-me-section .message-me-section-content .form-section #form * {
  width: 100%;
}

.message-me-section .message-me-section-content .form-section #form label {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.message-me-section .message-me-section-content .form-section #form #full-name,
.message-me-section .message-me-section-content .form-section #form #e-mail,
.message-me-section .message-me-section-content .form-section #form #message {
  padding: 0.5rem;
  font-size: 1rem;
  color: #171717;
  border: none;
  outline: none;
  background: #313131;
  color: white;
  -webkit-transition: outline 3000ms;
  transition: outline 3000ms;
}

.message-me-section .message-me-section-content .form-section #form #full-name:focus,
.message-me-section .message-me-section-content .form-section #form #e-mail:focus,
.message-me-section .message-me-section-content .form-section #form #message:focus {
  outline: 1px solid #e6d8c7;
}

.message-me-section .message-me-section-content .form-section #form button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 10rem;
  border: 1px solid #fdfbf9;
  background: #171717;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  color: #fdfbf9;
  /* SEE IMPLEMENTATION ON _config.scss file. */
  margin-top: 1rem;
}

.message-me-section .message-me-section-content .form-section #form button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px #fdfbf9;
          box-shadow: 0px 0px 5px #fdfbf9;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  /* SEE IMPLEMENTATION ON _config.scss file. */
}

.message-me-section .message-me-section-content .form-section #form .modal {
  display: none;
  background: #568d56;
  padding: 1rem;
  width: 100%;
  margin: 0.6rem 0;
  text-align: center;
  outline: 1px solid white;
}

.message-me-section .message-me-section-content .form-section #form .modal p {
  font-size: 1.2rem;
}

@-webkit-keyframes modalAnimation {
  from {
    display: none;
    height: 0;
  }
  to {
    display: block;
    height: 100%;
  }
}

@keyframes modalAnimation {
  from {
    display: none;
    height: 0;
  }
  to {
    display: block;
    height: 100%;
  }
}

@media only screen and (min-width: 576px), (min-width: 768px), (min-width: 992px) {
  .message-me-section .message-me-section-content .form-section {
    width: 60vw;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .message-me-section .message-me-section-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .message-me-section .message-me-section-content .title-section {
    margin: 0 0.5rem;
    width: 50%;
  }
  .message-me-section .message-me-section-content .title-section h1 {
    font-size: 3rem;
  }
  .message-me-section .message-me-section-content .form-section {
    width: 35vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .message-me-section .message-me-section-content .form-section h1 {
    font-size: 2rem;
    text-align: left;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .message-me-section .message-me-section-content .form-section #form #full-name,
  .message-me-section .message-me-section-content .form-section #form #e-mail,
  .message-me-section .message-me-section-content .form-section #form #message {
    font-size: 1.3rem;
  }
}
