/**
  Since there are many title sections across the page,
  we stick to the same general style and only override this
  if necessary.
**/
/**
  Since titles in webpage also the same, we also 
  set the same general style for the whole page.
**/
/**
  This is also the same style applied to all
  horizontal sections and its corresponding horizontal lines.
**/
/**
  Styles of all the buttons across the page.
**/
/**
  Styles for the button when hovered.
**/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  padding: 2rem;
}

footer * {
  color: #fdfbf9;
}

footer nav .logo-section img {
  width: 8rem;
}

footer nav .social-media-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 1rem;
}

footer nav .social-media-section img {
  display: block;
  width: 3rem;
  margin-right: 1rem;
  background-color: white;
  border-radius: 500px;
  border: 1.5px solid white;
}

footer nav .social-media-section img:hover {
  cursor: pointer;
}

footer nav .about-site-section {
  width: 60%;
}

footer nav .copyright-section {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#up-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 20px;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 2rem;
  text-align: center;
  background: #171717;
  color: #e6d8c7;
  border: 2px solid #e6d8c7;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-animation: upArrowAnimation 2000ms infinite alternate;
          animation: upArrowAnimation 2000ms infinite alternate;
}

@-webkit-keyframes upArrowAnimation {
  to {
    -webkit-box-shadow: 0px 0px 10px #fdfbf9;
            box-shadow: 0px 0px 10px #fdfbf9;
  }
}

@keyframes upArrowAnimation {
  to {
    -webkit-box-shadow: 0px 0px 10px #fdfbf9;
            box-shadow: 0px 0px 10px #fdfbf9;
  }
}

/** MEDIA QUERIES */
@media only screen and (min-width: 576px) {
  footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer nav .about-site-section {
    text-align: center;
  }
  footer nav .copyright-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 992px) {
  footer nav {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  footer nav {
    width: 50%;
    padding: 1.2rem;
    margin: 0 auto;
  }
  footer nav .about-site-section {
    width: 70%;
  }
  footer nav .copyright-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1400px) {
  footer nav {
    width: 40%;
  }
}
