@import "config";

footer {
  @include displayFlex();
  padding: 2rem;
  * {
    color: $fourthColour;
  }

  // Navigation
  nav {
    // Section that contains the logo.
    .logo-section {
      img {
        width: 8rem;
      }
    }

    // Section of social media icons
    .social-media-section {
      display: flex;
      justify-content: flex-start;
      margin-top: 1rem;
      img {
        display: block;
        width: 3rem;
        margin-right: 1rem;
        background-color: white;
        border-radius: 500px;
        border: 1.5px solid white;
      }
      img:hover {
        cursor: pointer;
      }
    }

    .about-site-section {
      width: 60%;
    }

    // Section of copyright
    .copyright-section {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}

/** MEDIA QUERIES */
@media only screen and (min-width: 576px) {
  footer {
    nav {
      .about-site-section {
        text-align: center;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .copyright-section {
        align-items: center;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  footer {
    nav {
      width: 70%;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 1200px) {
  footer {
    nav {
      width: 40%;
      padding: 1.2rem;
      margin: 0 auto;

      .about-site-section {
        width: 70%;
      }

      .copyright-section {
        align-items: center;
      }
    }
  }
}
