@import "config";

footer {
  @include displayFlex(column, none, none);
  padding: 2rem;

  // General font color of all the elements in footer.
  * {
    color: $fourthColour;
  }

  // Navigation
  nav {
    // Section that contains the logo.
    .logo-section img {
      width: 8rem;
    }

    // Section of social media icons
    .social-media-section {
      @include displayFlex(row, none, flex-start);
      margin-top: 1rem;
      img {
        display: block;
        width: 3rem;
        margin-right: 1rem;
        background-color: white;
        border-radius: 500px;
        border: 1.5px solid white;
      }
      img:hover {
        cursor: pointer;
      }
    }

    // Section of short description on the footer.
    .about-site-section {
      width: 60%;
    }

    // Section of copyright
    .copyright-section {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}

/** MEDIA QUERIES */
@media only screen and (min-width: 576px) {
  footer {
    nav {
      @include displayFlex(column, center, center);
      .about-site-section {
        text-align: center;
      }
      .copyright-section {
        align-items: center;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  footer nav {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  footer nav {
    width: 50%;
    padding: 1.2rem;
    margin: 0 auto;

    .about-site-section {
      width: 70%;
    }

    .copyright-section {
      align-items: center;
    }
  }
}

@media only screen and (min-width: 1400px) {
  footer nav {
    width: 40%;
  }
}
