/**
  Since there are many title sections across the page,
  we stick to the same general style and only override this
  if necessary.
**/
/**
  Since titles in webpage also the same, we also 
  set the same general style for the whole page.
**/
/**
  This is also the same style applied to all
  horizontal sections and its corresponding horizontal lines.
**/
/**
  Styles of all the buttons across the page.
**/
/**
  Styles for the button when hovered.
**/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins, sans-serif;
  color: #171717;
  opacity: 0;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  font-size: 14px;
  scroll-behavior: smooth;
}

header {
  display: none;
}

.main {
  position: relative;
  z-index: 1;
  height: auto;
  background: url("/Final Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main::before {
  background-color: rgba(255, 255, 255, 0.4);
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

/***

  A container that contains the navbar for mobile device,
  title section, and the basic info such as the location, bachelor's
  degree etc.
****/
.container-1 {
  /**
  general styles
  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  padding: 2rem;
}

.container-1 .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-1 .navbar ul {
  list-style-type: none;
}

.container-1 .navbar ul li {
  width: 2.5rem;
}

.container-1 .navbar ul li hr {
  height: 5px;
  background: black;
}

.container-1 .section-title h1 {
  font-size: 1rem;
  font-weight: 500;
}

.container-1 .section-title p {
  font-size: 2rem;
  font-weight: bold;
}

.container-1 .section-title hr {
  background-color: #171717;
  width: 5rem;
  height: 5px;
}

.container-1 .section-title button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 10rem;
  border: 1px solid #fdfbf9;
  background: #171717;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  color: #fdfbf9;
}

.container-1 .section-title button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px #fdfbf9;
          box-shadow: 0px 0px 5px #fdfbf9;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.container-1 .basic-info section .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1rem;
}

.container-1 .basic-info section .infos img {
  height: 1.5rem;
}

.container-1 .basic-info section .infos * {
  margin: 0.5rem 1rem 0.5rem 0;
}

.container-1 * {
  margin: 0.4rem 0;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .container-1 .container-1-content {
    padding: 3rem;
  }
  .container-1 .container-1-content .section-title h1 {
    font-size: 1.2rem;
  }
  .container-1 .container-1-content .section-title p {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2rem;
  }
  header section h1 {
    font-size: 1.5rem;
  }
  header ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
  }
  header ul li {
    margin: 0 2.5rem;
  }
  header ul li a {
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  header ul li a:hover {
    border-bottom: 2px solid black;
    width: auto;
  }
  .main {
    /** We set the bg attachment to fixed to
    have a parallax effect. */
    background-attachment: fixed;
    min-height: 70vh;
    height: 100vh;
  }
  .container-1 {
    height: 70vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-1 .navbar {
    display: none;
  }
  .container-1 .container-1-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container-1 .container-1-content .section-title {
    width: 50%;
  }
  .container-1 .container-1-content .section-title h1 {
    font-size: 1.5rem;
  }
  .container-1 .container-1-content .section-title p {
    font-size: 3rem;
  }
  .container-1 .container-1-content .basic-info section .infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 1.1rem;
  }
  .container-1 .container-1-content .basic-info section .infos * {
    margin: 0.5rem 1rem;
  }
}
