@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: $tertiaryColor;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
  font-size: 14px;
  scroll-behavior: smooth;
}

// By default, the header for desktop sizes is hidden.
header {
  display: none;
}

.main {
  position: relative;
  z-index: 1;
  height: auto;
  background: url("\/Final Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main::before {
  background-color: rgba($color: #fff, $alpha: 0.5);
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

/***

  A container that contains the navbar for mobile device,
  title section, and the basic info such as the location, bachelor's
  degree etc.

****/
.container-1 {
  /**
  general styles
  */
  @include displayFlex(column, none, center);
  height: auto;
  padding: 2rem;

  // Navbar
  .navbar {
    @include displayFlex(row, none, space-between);

    // This is the style for the pie menu when in phone device screen sizes.
    ul {
      list-style-type: none;

      li {
        width: 2.5rem;
        hr {
          height: 5px;
          background: black;
        }
      }
    }
  } // end of navbar

  // section that contains the title and the subtitle and the hr
  .section-title {
    h1 {
      font-size: 1rem;
      font-weight: 500;
    }
    p {
      font-size: 2rem;
      font-weight: bold;
    }
    hr {
      background-color: $tertiaryColor;
      width: 5rem;
      height: 5px;
    }
    // buttons and the style for hover
    button {
      @include buttonStyle();
    }
    button:hover {
      @include buttonHoverStyle();
    } // end of button styles
  } // end of title section

  .basic-info {
    section .infos {
      @include displayFlex(row, center, flex-start);
      font-size: 1rem;

      img {
        height: 1.5rem;
      }
      * {
        margin: 0.5rem 1rem 0.5rem 0;
      }
    }
  }
  * {
    margin: 0.4rem 0;
  }
}
// END OF ALL THE MAIN STYLES

@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .container-1 .container-1-content {
    padding: 3rem;
    .section-title {
      h1 {
        font-size: 1.2rem;
      }
      p {
        font-size: 2.5rem;
      }
    }
  }
}

// Media queries for DESKTOP SCREEN SIZES.
@media only screen and (min-width: 1200px) {
  header {
    @include displayFlex(row, none, space-around);
    padding: 2rem;
    ul {
      list-style: none; // remove the bullet points.

      // Display properties.
      @include displayFlex(row, center, none);
      li {
        margin: 0 4rem; // set the margin of left and right to 4 * 16px.

        // anchor tags styles.
        a {
          text-decoration: none;
          color: black;
        }
        a:hover {
          border-bottom: 1px solid black;
        }
        // end of a tags styles.
      }
    }
  } // end of styles for header

  // This is the main container
  .main {
    /** We set the bg attachment to fixed to
    have a parallax effect. */
    background-attachment: fixed;
    min-height: 70vh;
    height: 100vh;
  }

  .container-1 {
    height: 70vh;
    align-items: center;
    justify-content: center;

    // hides the navbar with the pie button
    .navbar {
      display: none;
    }

    // div that contains the section title and infos
    .container-1-content {
      // Display properties.
      display: flex;
      justify-content: space-evenly;
      .section-title {
        width: 50%;
        h1 {
          font-size: 1.5rem;
        }
        p {
          // width: 70%;
          font-size: 3rem;
        }
      } // end of section title

      // basic info sections
      .basic-info section {
        .infos {
          // width: max-content;
          @include displayFlex(row, center, flex-start);
          font-size: 1.1rem;
          * {
            margin: 0.5rem 1rem;
          }
        }
      }
    }
  } // end of container 1
} // END OF MEDIA QUERIES FOR 1200px minimum width devices.
