/**
  Since there are many title sections across the page,
  we stick to the same general style and only override this
  if necessary.
**/
/**
  Since titles in webpage also the same, we also 
  set the same general style for the whole page.
**/
/**
  This is also the same style applied to all
  horizontal sections and its corresponding horizontal lines.
**/
/**
  Styles of all the buttons across the page.
**/
/**
  Styles for the button when hovered.
**/
/**
  THESE ARE ALL THE STYLES OF THE PROJECTS SECTION.
**/
.projects {
  background: #313131;
  padding: 2rem;
  /**
    This is the division that contains the actual project that 
    contains the div that contains the image, name of project, description and a button.
  **/
}

.projects .title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  /* SEE THE IMPLEMENTATION IN _config.scss file */
  /* SEE THE IMPLEMENTATION IN _config.scss file */
}

.projects .title-section h1 {
  color: #e6d8c7;
  font-size: 2rem;
  text-align: center;
  /* SEE THE IMPLEMENTATION IN _config.scss file */
}

.projects .title-section .horizontal-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e6d8c7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
  width: 10rem;
}

.projects .title-section .horizontal-style hr {
  width: 50%;
}

.projects .project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .project-content .project {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* SEE THE IMPLEMENTATION ABOVE */
}

.projects .project-content .project img {
  width: 100%;
}

.projects .project-content .project h3 {
  color: #e6d8c7;
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

.projects .project-content .project p {
  color: #fdfbf9;
}

.projects .project-content .project button {
  /* SEE THE IMPLEMENTATION IN _config.scss file */
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 10rem;
  border: 1px solid #fdfbf9;
  background: #171717;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  color: #fdfbf9;
}

.projects .project-content .project button:hover {
  /* SEE THE IMPLEMENTATION IN _config.scss file */
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px #fdfbf9;
          box-shadow: 0px 0px 5px #fdfbf9;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media only screen and (min-width: 576px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-content {
    width: 60vw !important;
  }
}

@media only screen and (min-width: 992px) {
  .project-content {
    width: 50vw !important;
  }
}

@media only screen and (min-width: 1200px) {
  .projects .title-section h1 {
    font-size: 3rem;
  }
  .projects .project-content {
    width: 90vw !important;
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=projects.css.map */